* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: orange;
    padding: 15px 0;
    font-weight: bold;
}

.navbar p {
    margin: 0;
    cursor: pointer;
}

.content {
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}
