.content {
    position: sticky;
}

.tooltip {
    position: sticky;
    display: inline-block;
    inset: 0;
}

.icon {
    cursor: pointer;
}

.tooltip-content {
    visibility: hidden;
    width: 200px; 
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -10px; 
    left: 110%; 
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
}
