body {
    width: 100%;
    margin: 0;
    background-color: rgba(248, 248, 249, 255);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(1, 4, 99, 255);
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links {
    margin: 2px;
    margin-left: 10px;
    height: 80%;
    width: 100px;
}

.navimg {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    background-color: rgba(1, 4, 99, 255);
}

.navimg>img {
    height: 250%;

}

#active {
    color: rgba(86, 188, 140, 255);
    background-color: white;
    border-radius: 10px;

}

.leftbar {
    display: flex;
    align-self: center;
    align-items: center;
}

.leftbar {
    border-radius: 10px;
    text-decoration: none;
    color: white; 
    
}

#more {
    height: 40px;
    
    
}

.right3 {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.right2 {
    display: flex;
}

#credit {
    height: 50px;
    display: flex;
    
}

.end {
    display: flex;
    height: 70%;
    margin-top: 10px;
    
}

#profile {
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    
}

table {
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-collapse: collapse;
}

#head {
    text-decoration: none;
    color: rgb(158, 157, 157);
}

.box {
    background-color: rgba(86, 188, 140, 255);
    text-decoration: none;
    color: white;
    border-radius: 3px;
    padding: 10px;
}

.maintabel {
    width: 95%;
    height: 50px;
    padding: 15px;
    border-top: 1px lightgray solid;
}

th {
    text-align: left;
}

.picture {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: center;
}

.foto {
    width: 10%;
    margin-top: 30px;
}

div.progress {
    background-color: aqua;
    width: 100px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    position: relative;

}

div.progress2 {
    background-color: rgba(24, 180, 180, 0.559);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    
}

.progress-text {
    color: black;
    font-size: 12px;
    z-index: 1;
}

nav {
    background-color: rgba(1, 4, 99, 255);
    min-width: max-content;
}

.endnav {
    background-color: rgba(1, 4, 99, 255);
    min-width: max-content;
}